langchain_community
protobuf==3.20
pypdf
tornado
pathlib
langchain-openai
langchain_chroma
streamlit
google-cloud-storage
google-auth
google-auth-oauthlib
langchain_google_community
unstructured[all-docs]
poppler-utils
pytesseract